<h2>Welcome to the Blog</h2>
<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
    <h1>Blog</h1>
        <div class="blogstuff">
            <div>
                {% block content %}
                    {% for item in values %}
                        <div class="blogstuff">
                            <div>
                                <h3>Date {{values.Data}}</h3>
                                <p>{{values.Entry}}</p>
                            </div>
                        </div>

                    
                    {% endfor %}
                {% endblock %} 
            </div>
        </div>
    </body>
</html>